/* Fade in on Page load
/--------------------------------------------------------------
--------------------------------------------------------------*/

@-webkit-keyframes fadeout {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeout {
    0% {opacity:0;}
    100% {opacity:1;}
}
.fadeOut {
  opacity:1;
  -moz-animation   : fadin 1.5s ease;
  -webkit-animation: fadeout 1.5s ease;
  animation        : fadeout 1.5s ease;
}



/* Standards
/--------------------------------------------------------------
--------------------------------------------------------------*/

body {
	background-color:#F3EFE7;
	font-family: "Poppins", sans-serif;
	margin: 0 0;
	padding: 0 0;
	transition: all .15s linear;
}

#main-container {
	display:inline-block;
	width:100%;
	float:left;
	margin-top:0px;
}

div {
	margin: 0 0;
	padding: 0 0;
}

h1 {
	font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight:400;
    letter-spacing: -0.2px;
    line-height: 117%;
    margin:0 0;
    padding: 0 0;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

h2 {
	font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight:400;
    line-height: 124%;
    letter-spacing: -0.2px;
    margin:0 0;
    padding: 0 0;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

h3 {
	font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight:500;
    line-height: 124%;
    letter-spacing: -0.2px;
    margin:0 0;
    padding: 0 0;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

h4 {
	font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight:400;
    line-height: 124%;
    letter-spacing: -0.2px;
    margin:0 0;
    padding: 0 0;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

h5 {
	font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight:400;
    line-height: 124%;
    letter-spacing: -0.2px;
    margin:0 0;
    padding: 0 0;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}


p {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
    font-weight: normal;
    letter-spacing: -0.2px;
    line-height:140%;
    margin:0 0;
    padding: 0 0;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

img {
	width:100%;
	display: block;
}

a {
	text-decoration: none;
	transition: all .15s linear;
	color:black;
}

a :hover {
	opacity: 0.5;
	transition: all .15s linear;
}

a p {
	color:#001EBF;
}


p a:hover {
	opacity:0.5;
	transition: all .15s linear;
}

p a {
	border-bottom: 1.4px solid black;
	padding-bottom: 2px;
}

ul {
	padding:0 0 0 0;
	margin:0 0 0 0;
}

ul li {
	display:inline-block;
}

hr.solid {
	width:100%;
    border-bottom: 1.4px solid #001EBF;
    margin: 0 0;
    padding:0 0;
}

video {
	display: block;
}

.videofull {
	width:90%;
	margin: 5% 5%;
}

.videofull2 {
	width:104%;
	margin-left:-2%;
}

.video-half {
	margin: 50px 0;
}



/* HOME MENU
/*--------------------------------------------------------------
--------------------------------------------------------------*/


#fullbleed-menu {
	margin: auto;
	display: block;
	width: 100%;
	position:fixed;
}

.bg-menu-blue {
	background-color:#001EBF;
}

.bg-menu-light {
	background-color:#F3EFE7;
}

#centered-menu {
	margin: auto;
    max-width: 2560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}

#menu {
	float:left;
	width:100%;
	margin-top:30px;
	margin-bottom:30px;
}

.typecolor-menu-light {
	color:#F3EFE7;
}

.typecolor-menu-blue {
	color:#001EBF;
}

#menu-left {
	float:left;
}

#menu-right {
	float:right;
}

#menu-right ul li{
	margin-left:50px;
}

.selected-menu {
	border-bottom: 1px solid;
    padding-bottom: 8px;
}




/* HOME HEADER
/*--------------------------------------------------------------
--------------------------------------------------------------*/



#fullbleed-home-header {
	margin: auto;
	display: block;
	width: 100%;
	background-color:#001EBF;
	margin-top:93px;
}

#centered-home-header {
	margin: auto;
    max-width: 2560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    height:500px;
}

#welcome-text {
	float:left;
	width:85%;
	margin-top:140px;
	color:#F3EFE7;
}

#welcome-description {
	float:left;
	margin-top:10px;
	width:65%;
}

#welcome-description p {
	font-weight:300;
	letter-spacing:0;
}



/* ABOUT
/*--------------------------------------------------------------
--------------------------------------------------------------*/

#fullbleed-about-header {
	margin: auto;
	display: block;
	width: 100%;
	background-color:#001EBF;
	margin-top:93px;
}

#centered-about-header {
	margin: auto;
    max-width: 2560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    height:710px;
}

#about-text {
	float:left;
	width:100%;
	margin-top:140px;
	color:#F3EFE7;
}

#about-text p {
	font-weight:300;
	letter-spacing:0;
	line-height:145%;
}

#about-left {
	float:left;
	width:56%;
	margin-right:20%;
}

#about-left h5 {
	margin-bottom:50px;
}

#about-right {
	float:left;
	width:20%;
}

#about-right a p {
	color:white;
	text-decoration: underline;
	margin-bottom:30px;
}

#about-right p {
	margin-bottom:6px;
}

#about-right h4 {
	margin-bottom:30px;
}

#experiencia-content {
	float:left;
	width:50%;
	color:#001EBF;
	margin-bottom:80px;
	margin-top:110px;
}

#experiencia-content h5 {
	margin-bottom:60px;
}

#experiencia-content hr {
    margin-top: 32px;
    float: left;
    width: 100%;
    margin-bottom: 46px;
}

.experiencia-title {
	float:left;
	width:100%;
	margin-bottom:30px;
	font-weight:900;
}

.experiencia-title h4 {
	font-weight:500;
}

.experiencia-detail {
	float:left;
	width:100%;
	margin-bottom:20px;
}

.role {
	float:left;
	width:30%;
	margin-right:5%;
}

.role-arrow {
	float:left;
	width:13%;
	margin-right:5%;
}

.date {
	float:left;
	width:47%;
}




/* HOME THUMBNAILS
/*--------------------------------------------------------------
--------------------------------------------------------------*/

.centered-column {
	margin: auto;
    max-width: 2560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}

#thumbs-container {
	width:100%;
	float:left;
	margin-top:150px;
	margin-bottom:100px;
}

.thumb-spacing {
	margin-left:2%;
}

.project-thumb {
	width:49%;;
	float:left;
	margin-bottom:28px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border:2px solid #001EBF;
	border-radius:36px;
	overflow: hidden;
}

.thumb-text {
	width:92%;
	margin-left:9%;
	margin-top:60px;
	color:#001EBF;
}

.thumb-text h2 {
	width:96%;
	margin-bottom:30px;
}

.thumb-text > p {
	width:86%;
	margin-bottom:30px;
}

.thumb-button {
	float:left;
}

.thumb-button p {
	font-weight:600;
	float:left;
	margin-right:5px;
}

.thumb-image {
	margin-bottom:-7px;
}



/* FOOTER
/*--------------------------------------------------------------
--------------------------------------------------------------*/
#footer-wrapper {
	margin: auto;
    max-width: 2560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

#footer-content {
	float:left;
	width:100%;
	margin-top:50px;
	margin-bottom:110px;
}

#footer-content a:first-child {
	margin-right:30px;
}

#footer-content h3 {
	color:#001EBF;
	margin-top:30px;
}

/*back to top scroll smooth*/
:root {
  scroll-behavior: smooth;
}

#footer-navigation {
	float:left;
	width:100%;
	margin-top:50px;
	margin-bottom:50px;
}

#back-to-top {
	float:left;
}

#previous-project {
	float:right;
}

#next-project {
	float:right;
}


/* PROJECT HEADER
/*--------------------------------------------------------------
--------------------------------------------------------------*/
#fullbleed-picpay-header {
	margin: auto;
	display: block;
	width: 100%;
	background: rgb(34,134,98);
	background: linear-gradient(90deg, rgba(34,134,98,1) 35%, rgba(0,192,105,1) 99%);
	margin-top:40px;
}

#fullbleed-cidade-header {
	margin: auto;
	display: block;
	width: 100%;
	background: #d13727;
	margin-top:40px;
}

#fullbleed-coty-header {
	margin: auto;
	display: block;
	width: 100%;
	background: rgb(66,20,95);
	background: linear-gradient(36deg, rgba(66,20,95,1) 0%, rgba(137,12,88,1) 100%);
	margin-top:40px;
}

#fullbleed-illu-header {
	margin: auto;
	display: block;
	width: 100%;
	background: rgb(49,36,25);
	background: linear-gradient(36deg, rgba(49,36,25,1) 0%, rgba(160,91,21,1) 100%);
	margin-top:40px;
}


.centered-project-header-image {
	margin: auto;
    max-width: 2560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}

#project-title {
    margin: auto;
    max-width: 2560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    margin-top:210px;
}

#project-title h1 {
	color:#001EBF;
	margin-bottom:12px;
}

#project-title ul li {
	padding:5px 12px;
	margin-right:5px;
	border: 1px solid #001EBF;
	border-radius:50px;
	color:#001EBF;
}



/* PROJECT CONTENT MODULES
/*--------------------------------------------------------------
--------------------------------------------------------------*/


#centered-project-content {
	margin: auto;
    max-width: 2560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    margin-top:70px;
}

.space01 {
	margin-bottom:20px;
}

.space02 {
	margin-bottom:35px;
}

.space03 {
	margin-bottom:60px;
}

.moduleimage {
	float:left;
	width:100%;
}

.modulecolor {
	float:left;
	width:100%;
	border-radius:40px;
}

.greybg {
	background-color:#585858;
}

.salmonbg {
	background-color:#CB8080;
}

.purplebg {
	background-color:#663485;
}

.module01 {
	float:left;
	width:55%;
	color:#001EBF;
}

.module01 ul {
	list-style-type: disc;
	margin-left:19px;
}

.module01 li {
	display: list-item;
}

.module02 {
	float:left;
	width:100%;
	color:#001EBF;
}

.module02 p {
	float:left;
	width:33%;
	margin-right:4%;
	color:#001EBF;
}

.module02 img {
	width:63%;
}

.module03 {
	float:left;
	width:100%;
	color:#001EBF;
}

.module03 p {
	float:left;
	width:33%;
	color:#001EBF;
}

.module03 img {
	float:left;
	width:63%;
	margin-right:4%;
}

/* customs modules */


.module70-30 {
	float:left;
	width:100%;
}

.module70 {
	float:left;
	width:57%;
	margin-right:5%;
}

.module30 {
	float:left;
	width:36%;
}

.module50 {
	float:left;
	width:28%;
}

.margin5 {
	margin-left:16%;
	margin-right:12%;
}

.module20-20-20 {
	float:left;
	width:100%;
}

.module20 {
	float:left;
	width:20%;
}

.margin20 {
	margin-right:20%;
}





























/*--------------------------------------------------------------
--------------------------------------------------------------*/

@media (max-width: 1920px) {
}


@media (max-width: 1600px) {
/*home*/
#fullbleed-home-header {margin-top:70px;}
#centered-home-header {height:430px}
#menu {margin-top:26px; margin-bottom:26px;}
h1 {font-size:42px;}
h3 {font-size:22px;}
h4 {font-size:18px}
h2 {font-size:32px;}
p {font-size:16px;}
#thumbs-container {margin-top:110px; margin-bottom:80px;}
.thumb-text {margin-left:7%; margin-top:38px;}
.thumb-text > p {width:95%; margin-bottom:24px;}
.thumb-text h2 {margin-bottom:22px;}
#footer-content {margin-bottom:70px;}
/*about*/
#fullbleed-about-header {margin-top:70px}
#about-text {margin-top:92px;}
#experiencia-content {width:70%; margin-top:90px;}
/*projects*/
#project-title {margin-top:160px;}
.module01 ul {font-size:16px;}
}


@media (max-width: 1366px) {
/*home*/
#centered-menu {width:72%}
#centered-home-header {width:72%}
.centered-column {width:72%}
#fullbleed-home-header {margin-top:40px;}
h2 {font-size:30px;}
h3 {font-size:20px;}
h5 {font-size:30px;}
.thumb-text > p {font-size:14px;}
#thumbs-container {margin-top:90px; margin-bottom:60px;}
#footer-content {margin-bottom:50px; margin-bottom:40px;}
/*about*/
#centered-about-header {height:660px; width:72%;}
#about-text {margin-top:68px}
.experiencia-title {margin-bottom:20px;}
.experiencia-detail {margin-bottom:14px;}
#experiencia-content {margin-bottom:36px;}
#experiencia-content hr {margin-top:22px; margin-bottom:36px;}
/*projects*/
#project-title {margin-top:136px; width:72%;}
.centered-project-header-image {width:72%}
#centered-project-content {width:72%;}
.module01 {width:62%;}
}


@media (max-width: 1280px) {
/*home*/
#centered-menu {width:82%}
#centered-home-header {width:82%}
.centered-column {width:82%}
/*about*/
#centered-about-header {width:82%;}
#about-left {width:60%}
/*projects*/
#project-title {width:82%;}
.centered-project-header-image {width:82%}
#centered-project-content {width:82%;}
#footer-navigation svg {width:36px;}
#footer-content svg {width:18px;}
}


@media (max-width: 1024px) {
/*home*/
p {font-size:16px;}
h1 {font-size:36px;}
h2 {font-size:26px;}
h4 {font-size:16px;}
h3 {font-size:18px;}
.thumb-text h2 {margin-bottom:14px;}
.thumb-text > p {font-size:12px; margin-bottom:16px;}
.thumb-button p {font-size:12px;}
.thumb-button svg {width:15px; margin-bottom:-1px;}
.project-thumb {border-radius:32px;}
#menu {margin-bottom:20px; margin-top:20px;}
.selected-menu {padding-bottom:5px;}
#welcome-description {width:80%;}
#centered-home-header {height:380px;}
#welcome-text {margin-top:110px;}
#thumbs-container {margin-top:70px; margin-bottom:40px;}
#footer-content {margin-bottom:30px; margin-top:27px;}
#footer-content h3 {margin-top:14px;}
/*about*/
#fullbleed-about-header {margin-top:66px;}
#about-left {margin-right:10%; width:63%;}
#about-left h5 {font-size:26px;}
#experiencia-content {width:100%;}
#experiencia-content hr {margin-top:14px;margin-bottom:30px;}
#experiencia-content h5 {margin-bottom:45px;}
/*projects*/
.module01 {width:70%;}
#project-title {margin-top:120px;}
.space02 {margin-bottom:20px;}
.space03 {margin-bottom:50px;}
#footer-navigation {margin-top:35px; margin-bottom:35px;}
.module02 p {width:43%;}
.module02 img {width:53%;}
.module03 p {width:43%;}
.module03 img {width:53%;}
}


@media (max-width: 820px) {
#centered-menu {width:90%}
#centered-home-header {width:90%}
.centered-column {width:90%}
.project-thumb {width:100%}
.thumb-spacing {margin-left:0%;}
#welcome-text {width:100%}
#welcome-description {width:90%;}
h1 {font-size:40px;}
p {font-size:16px;}
h2 {font-size:38px;}
.thumb-text > p {font-size:16px; margin-bottom:26px; width:76%;}
.thumb-button p {font-size:16px;}
.thumb-button svg {width:18px;}
.thumb-text {margin-top:44px; width:85%;}
.thumb-text h2 {margin-bottom:24px;}
/*about*/
#centered-about-header {width:90%; height:730px;}
#about-left {width:84%; margin-right:0%;}
#about-right {width:100%; margin-top:40px;}
#about-right h4 {font-size:22px;  margin-bottom:20px;}
.contactid {float:left;width:50%;}
#experiencia-content {margin-top:74px;}
/*projects*/
#project-title {width:90%;}
.centered-project-header-image {width:90%}
#centered-project-content {width:90%;}
.module01 {width:100%;}
.module02 p {width:100%; margin-right:0%; margin-bottom:30px;}
.module02 img {width:100%;}
.modulecolor {border-radius:20px;}
.module03 img {width:100%; margin-right:0%; margin-bottom:40px;}
.module03 p {width:100%;}
.module70 {width:100%; margin-right:0%; margin-bottom:70px;}
.module30 {width:100%;}
.module50 {width:70%; margin-left:15%;}
.module20 {width:90%; margin-right:0%; margin-left:5%; margin-bottom:50px;}
}


@media (max-width: 624px) {
#centered-about-header {height:815px;}
}


@media (max-width: 600px) {
/*home*/
h1 {font-size:36px;}
h2 {font-size:34px;}
.thumb-text {width:88%;}
#about-left {width:100%;}
.thumb-text > p {width:96%;}
.thumb-button {margin-bottom:20px;}
/*projects*/
li.stack {margin-bottom:12px;}
/*about*/
#about-left h5 {font-size:24px; margin-bottom:30px;}
.experiencia-title h4 {font-size:18px;}
.contactid {width:100%;}
#about-text {margin-top:40px;}
#centered-about-header {height:730px;}
.date {width:44%; margin-left:3%;}
}


@media (max-width: 524px) {
#centered-about-header { height: 788px;}
}


@media (max-width: 500px) {
h1 {font-size:32px;}
#menu-right ul li {margin-left:28px;}
#welcome-description {width:100%;}
#thumbs-container {margin-top:30px;}
/*about*/
#experiencia-content {margin-top:54px;}
#experiencia-content p {font-size:15px;}
.role-arrow svg {width:54px;}
/*projects*/
.centered-project-header-image {width:100%;}
#project-title {margin-top:90px;}
#project-title li p {font-size:12px;}
#fullbleed-picpay-header {margin-top:26px;}
#project-title ul li {margin-right:0px;}
#centered-project-content {margin-top:40px;}
}


@media (max-width: 486px) {
#centered-about-header { height: 840px;}
}


@media (max-width: 420px) {
#menu-right ul li { margin-left:22px;}
#menu-right ul li:first-child {margin-left:0;}
}


@media (max-width: 403px) {
#centered-about-header { height: 870px;}
}


@media (max-width: 368px) {
#centered-about-header { height: 917px;}
}

@media (max-width: 354px) {
#centered-about-header { height: 950px;}
}